<html>
    <head>

    </head>
    <body>
        <h3>Contact</h3>
        <h4>From:</h4>
        <p>
            Name:{{ contact.yourName }} <br>
            Mail:{{ contact.yourEmail }}
        </p>
        <h4>Message:</h4>
        <p>
            {{ contact.yourMessage }}
        </p>
    </body>
</html>
